*
body{
    background: rgb(14, 109, 22);

}
h1{
    max-width: 480px;
    text-align: center;
    margin: 60px auto;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(51, 53, 53);
}
h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca 1s infinite;
}
@keyframes pisca{
    0%, 100%{
        opacity: 1;
        }
        50%{
            opacity: 0;
        }
}
